{:kotoba.app/id "cloud.itonami.isic-2599", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreif2qasop6z2d3kh4ogh6ytljaulnhe7635xvhtps6d4euq7poaad4", :kotoba.app/embed-url "ipfs://bafkreif2qasop6z2d3kh4ogh6ytljaulnhe7635xvhtps6d4euq7poaad4", :published {:archive "https://kotobase.net/ipfs/bafkreif2qasop6z2d3kh4ogh6ytljaulnhe7635xvhtps6d4euq7poaad4", :size 73277, :put-status 201, :get-status 200, :at "2026-08-15T13:48:53.366Z"}}
